@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/videojs-ie8.min.js");
    Html.AddCssFileParts("~/Content/video-js.css");
}

@foreach (var video in Model.VideoModels)
{
    <body>
        <br />
        <div style="clear:both;width:100%;">
            <video style="margin:0 auto;" id="my-video" class="video-js" controls preload="auto" width="640" height="480"
                   poster="@video.VideoThumbUrl" data-setup="{}">
                <source src="@video.VideoUrl">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <br />
    </body>
}
